/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7fafc;
    margin: 0;
    padding: 0;
}

/* Navbar */
nav {
    background-color: #3182ce; /* Azul oscuro */
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav a {
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #edf2f7;
    transition: color 0.3s;
}

nav .menu-btn {
    display: none;
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

nav .menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav .menu ul li {
    margin: 0 15px;
}

/* Menú desplegable en móviles */
#mobile-menu {
    display: none;
    background-color: #3182ce;
    text-align: center;
    padding-top: 10px;
}

#mobile-menu li {
    padding: 10px 0;
}

#mobile-menu li a {
    color: white;
    text-decoration: none;
}

/* Carrusel */
.carousel {
    margin-top: 48px;
    position: relative;
}

.carousel-container {

    display: flex;
    overflow: hidden;
}